##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  Home page of settings
##
###############################################################################
#parse("/html/_sub/_global.vm")
#select_layout("p_setting.vm")
#set($page_title="用户管理")
###############################################################################
#alert_msg("site")
#set($sform = $form.getBean())
#if(!$sform) #set($sform = $g_site) #end
<form action="$link.setAction("html/sitemgr/site")" method="post">
<input type="hidden" name="__ClientId" value="$dlog.gen_client_id()"/>
<input type="hidden" name="id" value="$g_site_id"/>
<input type="hidden" name="sid" value="$g_site_id"/>
<input type="hidden" name="fromPage" value="$dlog.get_request_url()"/>
<div class="page_top">
	<div class="pagecontent">
		<div class="pagecontent_left fleft">
			<b>用户维护</b>
		</div>
		<div class="pagecontent_right fright">
			今天是: $date.get("MMMMM d, yyyy  EEEEE")
		</div>
	</div>
	<div class="spacer_1"></div>
</div>
<div class="page_content">
	<table id="user_list"></table>
</div>
<div class="page_bottom"></div>
</form>
<script type="text/javascript">
	$.("#user_list").jqGrid({
		datatype:"json",
		url:"",
		mtype:"post",
		height:350,
		width:1000,
		colNames:["编号","姓名","角色","操作"],
		colModels:[
			{name:"id",index:"id",width:"60",sorttype:"int"},
			{name:"username",index:"username",width:"90",sorttype:""},
			{name:"rolename",index:"rolename",width:"100",sorttype:""},
			{name:"operation",index:"operation",width:"80",sorttype:""}
		],
		jsonReader:{
			root : "rows",
			page : "page",
			total : "total",
			records : "records",
			repeatitems : false
		}
		pager : "#pager", //分页工具栏  
		imgpath : "themes/redmond/images", //图片路径  
		rowNum : 10, //每页显示记录数  
		viewrecords : true, //是否显示行数  
		rowList : [ 10, 20, 30 ], //可调整每页显示的记录数  
		multiselect : false, //是否支持多选  
		sortname : "id",//根据哪个字段排序  
		caption : "jqGrid表格测试", //表格标题
		recordtext : "记录 {0} - {1} 总记录数 {2}",//显示记录数的格式
		emptyrecords : "无数据",//空记录时的提示信息
		loadtext : "获取数据中...",//获得数据时的提示信息
		pgtext : "第几页 {0} 总页数 {1}"//页数显示格式
	});
	$.("#user_list").navGrid('#nav',{
		refresh : true,
		edit : true,
		add : true,
		del : true,
		search : true,
		refreshtitle : "刷新",
		edittitle : "修改",
		addtitle : "添加",
		deltitle : "删除",
		searchtitle : "搜索"
	});
</script>